* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

ul,
ol {
    list-style: none;
}

.container-fluid {
    width: 1348px;
    margin: auto;

    display: flex;
}


.aside {
    width: 20%;
    background-color: #0F1642;
    color: white;
    padding: 25px;

}

.main {
    width: 80%;
    background-color: #2B3253;
    padding: 20px;
    padding-right: 35px
}

.aside-title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #7E72F2;
    margin-left: 10px;
}

.aside-link {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

.right-dropdown {
    margin-top: 30px;
}

.aside-item {
    margin-top: 12px;

}

.aside-list {
    display: none;
}

.aside-blok {
    margin-top: 20px;
}


.aside-list--title {
    margin-left: 15px;
}

.aside-header,
.aside-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-blok {
    display: flex;
}

.apps-blok {
    display: flex;
}

.aside-link--active,
.element-link--active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apps-title {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #999999;
}

.aside-text {
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.apps-link,
.element-link,
.forms-link {
    text-decoration: none;
    display: flex;
}

.aside-blok--element {
    margin-top: 0px;
}

.right-dropdown--element {
    margin-bottom: 20px;
}

.navbar-logo, .navbar-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    background-color: #0F1642;
    border-radius: 10px;
    padding: 8px;
    
    
}
.navbar-icon{
width: 16px;
margin-left: 8px;
}
.navbar-item{
    margin-left: 10px;
    color: white;
}

.navbar-btn{
    background-color: #0F1642;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height, or 121% */
    
    
    color: #FFFFFF;
    
}
.navbar-notification, .navbar-search{
    border: none;
    background-color: #0F1642;
    margin:0px 8px;
}
.navbar-search{
    margin-right: 15px;
}

.navbar-text{
    font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 13px;
color: #FFFFFF;
}

.navbar-name{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */


color: #FFFFFF;

}

.content