*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

ul, ol{
list-style: none;
}

.container-fluid{
    width: 1365px;
    margin:  auto;
}


.aside{
    width: 20%;
    background-color: #0F1642;
    color: white;
    padding: 20px;
    
}
.main{
    width: 80%;
}

.aside-title{
    font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
color: #7E72F2;
margin-left: 10px;
}

.aside-link{
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}
.right-dropdown{
    margin-top: 30px;
}
.aside-item{
    margin-top:12px;
    
}
.aside-list{
    display: none;
}

.aside-blok{
    margin-top: 25px;
}


.aside-list--title{
    margin-left: 15px;
}

.aside-header , .aside-logo {
display: flex;
justify-content: space-between;
align-items: center;
}
.aside-blok{
    display: flex;
}
.apps-blok{
    display: flex;
}
.aside-link--active{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.apps-title{
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 36px;
/* identical to box height, or 257% */


color: #999999;

}

.apps-text{
    margin-left: 20px;
    font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 40px;
/* or 267% */


color: #FFFFFF;

}
.apps-link {
    text-decoration: none;
    display: flex;
}