* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    width: 1348px;
    margin: auto;

    display: flex;
}


.aside {
    width: 20%;
    background-color: #0F1642;
    color: white;
    padding: 25px;

}

.main {
    width: 80%;
    background-color: #2B3253;
    padding: 20px;
    padding-right: 35px
}

.aside-title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #7E72F2;
    margin-left: 10px;
}

.aside-link {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

.right-dropdown {
    margin-top: 30px;
}

.aside-item {
    margin-top: 12px;

}

.aside-list {
    display: none;
}

.aside-blok {
    margin-top: 20px;
}


.aside-list--title {
    margin-left: 15px;
}

.aside-header,
.aside-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-blok {
    display: flex;
}

.apps-blok {
    display: flex;
}

.aside-link--active,
.element-link--active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apps-title {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #999999;
}

.aside-text {
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.apps-link,
.element-link,
.forms-link {
    text-decoration: none;
    display: flex;
}

.aside-blok--element {
    margin-top: 0px;
}

.right-dropdown--element {
    margin-bottom: 20px;
}

.navbar-logo,
.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: #0F1642;
    border-radius: 10px;
    padding: 8px;


}

.navbar-icon {
    width: 16px;
    margin-left: 8px;
}

.navbar-item {
    margin-left: 10px;
    color: white;
}

.navbar-btn {
    background-color: #0F1642;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height, or 121% */


    color: #FFFFFF;

}

.navbar-notification,
.navbar-search {
    border: none;
    background-color: #0F1642;
    margin: 0px 8px;
}

.navbar-search {
    margin-right: 15px;
}

.navbar-text {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}

.navbar-name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height, or 121% */


    color: #FFFFFF;

}

.content {
    margin-top: 30px;
}

.content,
.content-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-link {
    background-color: #2B3253;
    border: none;
    margin: 0px 15px;
    color: white;
    text-decoration: none;
}

.content button {

    background-color: #2B3253;
    border: none;

    color: #0F1642;
}

.content span {
    border: 1px solid #979797;
    width: 2px;
}

.content button {
    color: white;
}

.content-link--active {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7E72F2;
}

.navbar-link {
    background-color: #0F1642;
    border: none;
    color: white;
}

.blok {
    width: 100%;
    display: flex;

}
.blok-box{
    width: 28%;
}
.blok-about {
    
    margin-top: 30px;
    background-color: #0F1642;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
}

.blok-content {
    width: 72%;
}

.blok-circle {

    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;


}
.blok-box--title{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
margin-top: 25px;
}

.blok-btn {
    background-color: #0F1642;
    border: none;
    display: flex;
}

.blok-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.blok-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.blok-btn p {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    /* or 200% */
    margin-left: 15px;

    color: #FFFFFF;
}

.blok-item {
    margin: 8px 0px;
}

/* .blok-circle:hover{
    background-color: #6F64F8;
    transition: 0.3s;
} */

.line {
    margin: 30px 0px;
}

.blok-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F1642;
    border: none;
    color: white;
    width: 100%;
}

.blok-square {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
}

.blok-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blok-flex p {
    margin-left: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    margin-left: auto;
    /* or 200% */


    color: #FFFFFF;
}

.blok-cost {}











.blok-input{
    background-color: #0F1642; 
    border: none;
    color:#0F1642;
}
.blok-btn .blok-input{
    margin-top: 3px;
}
.blok-button .blok-input{
    margin-right: 15px;
    margin-bottom: 2px;
}

.r-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.r-blok{
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-list .blok-title{
    margin-bottom: 25px;
    margin-top: 45px;
}
.r-item{
    margin:10px 0px;
}
.r-text{
    color:#7C8BA7;
    margin-left: 4px;
}
.r-list div p{
    color: #7C8BA7;
}

.blok-filter{
    background: #6F64F8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    padding:15px;
    width: 285px;
    border: 2px solid #fff;
    color: white;
    margin-top: 20px;
}


.blok-filter:hover{
    color:#6F64F8;
    border: 2px solid #6F64F8;
    background-color: white;
    transition: 0.3s;
    font-weight:700;
}

.b-list, .b-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-item select{
    padding:8px;
    border: none;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
padding-right: 20px;
}
.b-item{
    margin:0px 10px;
}
.b-item button{
    padding:8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
border: none;
}
.content-settings button{
padding: 5px;
background: #7E72F2;
border-radius: 50%;
width: 40px;
height: 40px;
}
.b-list{
    margin-top: 10px;
}
.blok-inputs{
    padding: 13px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    color:black;
    width: 727px;
    position: relative;
    background-color: #0F1642;
}
.blok-form{
    /* margin-top: 30px; */
}
.blok-search{
    position: absolute;
    top:39%;
    transform: translate(-50%);
    left: 96%;
}

.blok-info{
    padding: 20px;
    padding-top: 30px;
}